// 秀丸エディタから qpmenu を呼び出す.
// 「秀丸エディタで開いているファイル」のフォルダを基点にする.

// 設定箇所ここから
// AAAAAAAAAAAAAAAA

$ahk_bin_path    = "C:\\Program Files\\AutoHotkey\\AutoHotkey.exe";
$qpmenu_path_ahk = currentmacrodirectory + "\\qpmenu.ahk";
$qpmenu_path_exe = currentmacrodirectory + "\\qpmenu.exe";
$qpmenu_path     = $qpmenu_path_ahk;

// VVVVVVVVVVVVVVVVV
// 設定箇所ここまで

#use_mouse_pos = true;
if(iskeydown(0x10)){
	#use_mouse_pos = false;
}
if(iskeydown(0x11)){
	#use_mouse_pos = false;
}
if(iskeydown(0x12)){
	#use_mouse_pos = false;
}

if(#use_mouse_pos){
	$DP    = "\"";
	$arg_directory_of_opened_file = directory2;
	$commandline = $DP + $ahk_bin_path + $DP + " " + $DP + $qpmenu_path + $DP + " " + $DP + $arg_directory_of_opened_file + $DP;
}else{
	$DP    = "\"";
	$arg_x = str(xpixel);
	$arg_y = str(ypixel);
	$arg_directory_of_opened_file = directory2;
	$commandline = $DP + $ahk_bin_path + $DP + " " + $DP + $qpmenu_path + $DP + " -x " + $arg_x + " -y " + $arg_y + " " + $DP + $arg_directory_of_opened_file + $DP;
}

// For Debugging
//message $commandline;
//endmacro;

run $commandline;
if(result == 0){
	message "起動に失敗しました.\n> " + $commandline;
}

endmacro;
